<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
   <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0 .shrink-to-fit=no">
  <title>kivtechs.cloud &#39;s Countdown Timer</title>
	  <link rel="apple-touch-icon" sizes="76x76" href="https://img1.wsimg.com/isteam/ip/5347598b-e052-4123-9c3b-e542f646b6b4/Kneogin%20Igmisarch%20Logo.jpg/:/rs=h:128,cg:true,m/qt=q:95">
  <link rel="icon" type="image/png" href="https://img1.wsimg.com/isteam/ip/5347598b-e052-4123-9c3b-e542f646b6b4/Kneogin%20Igmisarch%20Logo.jpg/:/rs=h:128,cg:true,m/qt=q:95">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="https://siddh-kivtechs.github.io/kivtechs_countdown/style_countdown.css">
<link rel="stylesheet" href="https://siddh-kivtechs.github.io/kivtechs_countdown/style_audio.css">
<div class="song">
	
	<div class="pause" onclick="togglePlay()">🔇</div>
	<div class="player">
		<audio class="audio" src="https://siddh-kivtechs.github.io/audio_library/silen_partner_remix.mp3" autoplay type="audio" loop=""></audio>
	</div>

</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/luxon/3.0.3/luxon.min.js'></script>
 <script  src="https://siddh-kivtechs.github.io/kivtechs_countdown//script_countdown.js"></script>
 <script  src="https://siddh-kivtechs.github.io/kivtechs_countdown//script_audio.js"></script>
