<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>KIVTECHS.CLOUD</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap" rel="stylesheet"><link rel="stylesheet" href="style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="root"></div>
<!-- partial -->
  <script src='https://unpkg.com/react@17/umd/react.development.js'></script>
<script src='https://unpkg.com/react-dom@17/umd/react-dom.development.js'></script>
<script src='https://unpkg.com/browse/@types/react@16.4.14/index.d.ts'></script>
<script src='https://unpkg.com/browse/@types/react-dom@17.0.2/index.d.ts'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/classnames/2.3.1/index.min.js'></script>
<script src='https://codepen.io/Hyperplexed/pen/xxYJYjM/54407644e24173ad6019b766443bf2a6.js'></script>
<script>
  // Declare latitude and longitude in the global scope
const latitude = <%= latitude %>;
const longitude = <%= longitude %>;
  const geo_location = "<%= location %>";
const ip_address = "<%= ip_address %>";


</script>
<script  src="https://siddh-kivtechs.github.io/menu_kivtechs_js/scripts/script_1.js"></script>
<script  src="https://siddh-kivtechs.github.io/menu_kivtechs_js/scripts/script_2.js"></script>
<script  src="https://siddh-kivtechs.github.io/menu_kivtechs_js/scripts/script_3.js"></script>
<script  src="https://siddh-kivtechs.github.io/menu_kivtechs_js/scripts/script_4.js"></script>
<script  src="https://siddh-kivtechs.github.io/menu_kivtechs_js/scripts/script_5.js"></script>
<script  src="https://siddh-kivtechs.github.io/menu_kivtechs_js/scripts/script_6.js"></script>
<script  src="https://siddh-kivtechs.github.io/menu_kivtechs_js/scripts/script_7.js"></script>
<script  src="https://siddh-kivtechs.github.io/menu_kivtechs_js/scripts/script_8.js"></script>
<script  src="https://siddh-kivtechs.github.io/menu_kivtechs_js/scripts/script_9.js"></script>
<script  src="https://siddh-kivtechs.github.io/menu_kivtechs_js/scripts/script_10.js"></script>
<script  src="https://siddh-kivtechs.github.io/menu_kivtechs_js/scripts/script_11.js"></script>
<script  src="https://siddh-kivtechs.github.io/menu_kivtechs_js/scripts/script_12.js"></script>
<script  src="https://siddh-kivtechs.github.io/menu_kivtechs_js/scripts/script_13.js"></script>
<script  src="https://siddh-kivtechs.github.io/menu_kivtechs_js/scripts/script_14.js"></script>
<script  src="https://siddh-kivtechs.github.io/menu_kivtechs_js/scripts/script_15.js"></script>
<script  src="https://siddh-kivtechs.github.io/menu_kivtechs_js/scripts/script_16.js"></script>
<script  src="https://siddh-kivtechs.github.io/menu_kivtechs_js/scripts/script_17.js"></script>
<script  src="https://siddh-kivtechs.github.io/menu_kivtechs_js/scripts/script.js"></script>
</body>
</html>
