<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>KIVTECHS.cloud|Login|REGISTER disabled</title>
  <meta charset="UTF-8">
<link rel="shortcut icon" type="image/svg" href="https://siddh-kivtechs.github.io/logo/logo.svg">

      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<link rel="stylesheet" href="https://siddh-kivtechs.github.io/login_1//style.css">
 <style>
    .login__video {
      width: 100%;
      height: 100%;
    }
  </style>
</head>
<body>
<!-- partial:index.partial.html -->
<div class="login">
	<!-- <img src="https://siddh-kivtechs.github.io/login_1/login-bg.webp" alt="login image" class="login__img"> -->
<img src="https://siddh-kivtechs.github.io/image/ai-generated-8353869_1920.jpg" alt="login image" class="login__img">
<!--<video src="https://siddh-kivtechs.github.io/video/diwali.mp4" alt="login video" class="login__video"></video>-->


	<form action="" class="login__form">
		<h1 class="login__title">Login</h1>

		<div class="login__content">
			<div class="login__box">
				<i class="ri-user-3-line login__icon"></i>

				<div class="login__box-input">
					<input type="email" required class="login__input" placeholder=" ">
					<label for="" class="login__label">Email</label>
				</div>
			</div>

			<div class="login__box">
				<i class="ri-lock-2-line login__icon"></i>

				<div class="login__box-input">
					<input type="password" required class="login__input" id="login-pass" placeholder=" ">
					<label for="" class="login__label">Password</label>
					<i class="ri-eye-off-line login__eye" id="login-eye"></i>
				</div>
			</div>
		</div>

		<div class="login__check">
			<div class="login__check-group">
				<input type="checkbox" class="login__check-input">
				<label for="" class="login__check-label">Remember me</label>
			</div>

			<a href="#" class="login__forgot">Forgot Password?</a>
		</div>

		<button type="submit" class="login__button">Login</button>

		<p class="login__register">
			Don't have an account? <a href="https://dev-rjulfzmj37z6s3lg.us.auth0.com/u/login?state=hKFo2SB4aXNWLXZVVGxXY2IzT0swRlVHakljRU9KaXUtaWdXZKFur3VuaXZlcnNhbC1sb2dpbqN0aWTZIFpSbDdLcU8zZXI4dzl5b0NBUG9TMHdvWkhUMEZER2Fxo2NpZNkgQmVucUVFbGlDVEdMTjdMdTkwdldmcVpiNHBoMHJwTE0">Register</a>
		</p>
	</form>
</div>
<!-- partial -->
  <script  src="https://siddh-kivtechs.github.io/login_1/script.js"></script>
<script  src="https://siddh-kivtechs.github.io/menu_kivtechs_js/scripts/script_20.js"></script>

</body>
</html>
