<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>KIvtechs.cloud|USER DASHBOARD</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/svg" href="https://siddh-kivtechs.github.io/logo/logo.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <link rel="stylesheet" href="https://siddht1.github.io/userpanelasset/assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="https://siddht1.github.io/userpanelasset/assets/css/style.css">
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    <link href="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/jqvmap@1.5.1/dist/jqvmap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/weathericons@2.1.0/css/weather-icons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.css" rel="stylesheet" />
    <style>
        #weatherWidget .currentDesc {
        color: #ffffff!important;
    }
        .traffic-chart {
            min-height: 335px;
        }
        #flotPie1  {
            height: 150px;
        }
        #flotPie1 td {
            padding:3px;
        }
        #flotPie1 table {
            top: 20px!important;
            right: -10px!important;
        }
        .chart-container {
            display: table;
            min-width: 270px ;
            text-align: left;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        #flotLine5  {
             height: 105px;
        }

        #flotBarChart {
            height: 150px;
        }
        #cellPaiChart{
            height: 160px;
        }

    </style>
</head>

<body>
    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#"><i class="menu-icon fa fa-laptop"></i>User Panel </a>
                    </li>
                    <li class="menu-title">AI & ML tools</li><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-cogs"></i>AI chatbot</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-puzzle-piece"></i><a href="https://katlon.kivtechs.cloud/"> Katlon</a></li>
                            <li><i class="fa fa-puzzle-piece"></i><a href="https://catalona.kivtechs.cloud/"> Catlon</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-rocket"></i>AI Tools</a>
                        <ul class="sub-menu children dropdown-menu">
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>AI AGENT</a>
                        <ul class="sub-menu children dropdown-menu">
                        </ul>
                    </li>
                    <li class="menu-title">Catalogue & Usage</li><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="https://kivtechs.cloud/powerpack" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>Powerpack S4K</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-fort-awesome"></i><a href="#">Ai Chatbot</a></li>
                            <li><i class="menu-icon ti-themify-logo"></i><a href="#"> Ai Agent</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="widgets.html"> <i class="menu-icon ti-email"></i>System Message </a>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>Usage</a>
                        <ul class="sub-menu children dropdown-menu">
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-area-chart"></i>Past History</a>
                        <ul class="sub-menu children dropdown-menu">
                        </ul>
                    </li>
                    <li class="menu-title"> Call To Action </li><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-magic"></i>Support</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-paper-plane"></i><a href="">Tutorials</a></li>
                            <li><i class="menu-icon fa fa-paper-plane"></i><a href="">FAQ</a></li>
                            <li><i class="menu-icon fa fa-paper-plane"></i><a href="mailto:support@kivtechs.cloud">Customer Care</a></li>
                        </ul>
                    </li>
                    <li class="menu-title"> Terms & Condition </li><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-question-circle"></i>Terms & condition</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-legal"></i><a href="https://kivtechs.cloud/terms">Terms and Condiftions</a></li>
                            <li><i class="menu-icon fa fa-hand-o-right"></i><a href="https://kivtechs.cloud/policy">Privacy Policy</a></li>
                        </ul>
                    </li>
                    <li class="menu-title"> About Us</li><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <i class="menu-icon fa fa-lemon-o"></i>KNEOGINI IGMISARCH PRIVATE LIMITED</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-random"></i><a href="https://kneoginigmisarch.co.in/">Company</a></li>
                            <li><i class="menu-icon fa fa-hand-o-right"></i><a href="https://kneoginigmisarch.co.in/">Partnership</a></li>
                            <li><i class="menu-icon fa fa-hand-o-right"></i><a href="https://kneoginigmisarch.co.in/">Other Solutions</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>
    <!-- /#left-panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <a class="navbar-brand" href="./">
                        <img src="https://siddht1.github.io/dashboard_p4/dist/img/logo.png" alt="kivtechs-Logo" height="40" width="40"> </a>
                    <a class="navbar-brand hidden" href=""><img src="https://siddht1.github.io/dashboard_p4/dist/img/logo.png" alt="kivtechs-Logo" height="40" width="40"></a>
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            <div class="top-right">
                <div class="header-menu">
                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>
                        <div class="dropdown for-notification">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <span class="count bg-primary">0</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="notification">
                            </div>
                        </div>
                        <div class="dropdown for-message">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="message" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-envelope"></i>
                                <span class="count bg-primary">4</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="message">
                                <p class="red">You have 4 Messages</p>
                                <a class="dropdown-item media" href="#">
                                    <span class="photo media-left"><img alt="avatar" src="https://siddht1.github.io/dashboard_p4/dist/img/logo.png"></span>
                                    <div class="message media-body">
                                        <span class="name float-left">Kivtechs.cloud</span>
                                        <span class="time float-right"></span>
                                        <p>Welcome to KIvtechs.cloud</p>
                                    </div>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <span class="photo media-left"><img alt="avatar" src="https://siddht1.github.io/dashboard_p4/dist/img/logo.png"></span>
                                    <div class="message media-body">
                                        <span class="name float-left">Kivtechs.cloud</span>
                                        <span class="time float-right"></span>
                                        <p> Welcome to the World of AI & Technology</p>
                                    </div>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <span class="photo media-left"><img alt="avatar" src="https://siddht1.github.io/dashboard_p4/dist/img/logo.png"></span>
                                    <div class="message media-body">
                                        <span class="name float-left">kivtechs.cloud</span>
                                        <span class="time float-right"></span>
                                        <p> You have been provided Access to our AI chatbot Katlon & Catlona</p>
                                    </div>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <span class="photo media-left"><img alt="avatar" src="https://siddht1.github.io/dashboard_p4/dist/img/logo.png"></span>
                                    <div class="message media-body">
                                        <span class="name float-left">kivtechs.cloud</span>
                                        <span class="time float-right"></span>
                                        <p>You have 10,000 tokens</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="<%= user.picture %>" alt="User Avatar">
                        </a>
                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="#"><i class="fa fa- user"></i>My Profile</a>
                            <a class="nav-link" href="#"><i class="fa fa- user"></i>Notifications <span class="count">0</span></a>
                            <a class="nav-link" href="#"><i class="fa fa -cog"></i>Settings</a>
                            <a class="nav-link" href="https://kivtechs.cloud/logout"><i class="fa fa-power -off"></i>Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- /#header -->
        <!-- Breadcrumbs-->
        <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>Privacy Policy</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="page-header float-right">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li class="active">
                                        <%= user.name %> PANEL</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Privacy Policy</h4>
                    </div>
                    <div class="card-body">
                        <div class="custom-tab">
                            <nav>
                         <div class="nav nav-tabs" id="nav-tab" role="tablist">  
    <a class="nav-item nav-link active" id="custom-nav-home-tab" data-toggle="tab" href="#custom-nav-home" role="tab" aria-controls="custom-nav-home" aria-selected="true">Who are We</a>  
    <a class="nav-item nav-link" id="custom-nav-collect-tab" data-toggle="tab" href="#custom-nav-collect" role="tab" aria-controls="custom-nav-collect" aria-selected="false">What personal data we collect and why we collect it</a>  
    <a class="nav-item nav-link" id="custom-nav-media-tab" data-toggle="tab" href="#custom-nav-media" role="tab" aria-controls="custom-nav-media" aria-selected="false">Media</a>  
    <a class="nav-item nav-link" id="custom-nav-contact-form-tab" data-toggle="tab" href="#custom-nav-contact-form" role="tab" aria-controls="custom-nav-contact-form" aria-selected="false">Contact Form</a>  
    <a class="nav-item nav-link" id="custom-nav-cookies-form-tab" data-toggle="tab" href="#custom-nav-cookies-form" role="tab" aria-controls="custom-nav-cookies-form" aria-selected="false">Cookies</a>  
    <a class="nav-item nav-link" id="custom-nav-embedded-content-tab" data-toggle="tab" href="#custom-nav-embedded-content" role="tab" aria-controls="custom-nav-embedded-content" aria-selected="false">Embedded content from other websites</a>  
    <a class="nav-item nav-link" id="custom-nav-analytics-tab" data-toggle="tab" href="#custom-nav-analytics" role="tab" aria-controls="custom-nav-analytics" aria-selected="false">Analytics</a>  
    <a class="nav-item nav-link" id="custom-nav-data-retention-tab" data-toggle="tab" href="#custom-nav-data-retention" role="tab" aria-controls="custom-nav-data-retention" aria-selected="false">How long we retain your data</a>  
    <a class="nav-item nav-link" id="custom-nav-data-rights-tab" data-toggle="tab" href="#custom-nav-data-rights" role="tab" aria-controls="custom-nav-data-rights" aria-selected="false">What rights you have over your data</a>  
    <a class="nav-item nav-link" id="custom-nav-data-sending-tab" data-toggle="tab" href="#custom-nav-data-sending" role="tab" aria-controls="custom-nav-data-sending" aria-selected="false">Where we send your data</a>  
    <a class="nav-item nav-link" id="custom-nav-contact-info-tab" data-toggle="tab" href="#custom-nav-contact-info" role="tab" aria-controls="custom-nav-contact-info" aria-selected="false">Your contact information</a>  
    <a class="nav-item nav-link" id="custom-nav-additional-info-tab" data-toggle="tab" href="#custom-nav-additional-info" role="tab" aria-controls="custom-nav-additional-info" aria-selected="false">Additional information</a>  
    <a class="nav-item nav-link" id="custom-nav-data-rights-tab" data-toggle="tab" href="#custom-nav-data-rights" role="tab" aria-controls="custom-nav-data-rights" aria-selected="false">What rights you have over your data</a>  
</div>  

                            </nav>
                            <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="custom-nav-home" role="tabpanel" aria-labelledby="custom-nav-home-tab">
                                    <p>Our website address is: <a href="https://kivtechs.cloud/"> KIVTECHS</a> </p>
                                    <p> <code> KNEOGIN IGMISARCH PRIVATE LIMITED </code></p>
                                    <p> <code> Identification no. -U74999UP2018PTC105640 </code></p>
                                    <p> <code> Udyog Aadhaar NumberUP29D0013506 </code></p>
                                    <p> <code> GSTIN - 09AAHCK1701C1Z1 </code></p>
                                    <p> <code> Registered Office: J-2108 Gaur Green City, 8 Vaibhav Khand,Indirapuram, Ghaziabad, UP - 201014. </code></p>
                                </div>
                                <div class="tab-pane fade" id="custom-nav-collect" role="tabpanel" aria-labelledby="custom-nav-collect-tab">
                                    <p>Comments When visitors leave comments on the site we collect the data shown in the comments form, and also the visitor’s IP address and browser user agent string to help spam detection.</p>
                                    <p>An anonymized string created from your email address (also called a hash) may be provided to the Gravatar service to see if you are using it. The Gravatar service privacy policy is available here: <a href="https://automattic.com/privacy/"> Gravatar </a>. After approval of your comment, your profile picture is visible to the public in the context of your comment.</p>
                                </div>
                                <div class="tab-pane fade" id="custom-nav-media" role="tabpanel" aria-labelledby="custom-nav-media-tab">
                                    <p>If you upload images to the website, you should avoid uploading images with embedded location data (EXIF GPS) included. Visitors to the website can download and extract any location data from images on the website.</p>
                                </div>
                                <div class="tab-pane fade" id="custom-nav-contact-form" role="tabpanel" aria-labelledby="custom-nav-contact-form-tab">
                                    <p></p>
                                </div>
                                <div class="tab-pane fade" id="custom-nav-cookies-form" role="tabpanel" aria-labelledby="custom-nav-cookies-form-tab">
                                    <p>If you leave a comment on our site you may opt-in to saving your name, email address and website in cookies. These are for your convenience so that you do not have to fill in your details again when you leave another comment. These cookies will last for one year.</p>
                                    <p>If you visit our login page, we will set a temporary cookie to determine if your browser accepts cookies. This cookie contains no personal data and is discarded when you close your browser.</p>
                                    <p>When you log in, we will also set up several cookies to save your login information and your screen display choices. Login cookies last for two days, and screen options cookies last for a year. If you select "Remember Me", your login will persist for two weeks. If you log out of your account, the login cookies will be removed.</p>
                                    <p>If you edit or publish an article, an additional cookie will be saved in your browser. This cookie includes no personal data and simply indicates the post ID of the article you just edited. It expires after 1 day.</p>
                                </div>
                                <div class="tab-pane fade" id="custom-nav-contact-form" role="tabpanel" aria-labelledby="custom-nav-contact-form-tab">
                                    <p></p>
                                </div>
                                <div class="tab-pane fade" id="custom-nav-contact-form" role="tabpanel" aria-labelledby="custom-nav-contact-form-tab">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                      <div class="animated fadeIn">

                <div class="ui-typography">
                    <div class="row">
                        <div class="col-md-12">


                            <div class="card">
                                <div class="card-header">
                                    <strong class="card-title" v-if="headerText">Privacy Policy</strong>
                                </div>

                                <div class="card-body">

                                <div class="typo-articles">
                                <p>  Our Policy </p>
                                <p>
 

<br> Who we are
Our website address is: https://kivtechs.cloud/ </br>
</p>
KNEOGIN IGMISARCH PRIVATE LIMITED 
Identification no. -U74999UP2018PTC105640
Udyog Aadhaar NumberUP29D0013506
GSTIN - 09AAHCK1701C1Z1
Registered Office: J-2108 Gaur Green City, 8 Vaibhav Khand,Indirapuram, Ghaziabad, UP - 201014.

What personal data we collect and why we collect it
Comments When visitors leave comments on the site we collect the data shown in the comments form, and also the visitor’s IP address and browser user agent string to help spam detection.

An anonymized string created from your email address (also called a hash) may be provided to the Gravatar service to see if you are using it. The Gravatar service privacy policy is available here: https://automattic.com/privacy/. After approval of your comment, your profile picture is visible to the public in the context of your comment.

Media
If you upload images to the website, you should avoid uploading images with embedded location data (EXIF GPS) included. Visitors to the website can download and extract any location data from images on the website.

Contact forms
Cookies
If you leave a comment on our site you may opt-in to saving your name, email address and website in cookies. These are for your convenience so that you do not have to fill in your details again when you leave another comment. These cookies will last for one year.

If you visit our login page, we will set a temporary cookie to determine if your browser accepts cookies. This cookie contains no personal data and is discarded when you close your browser.

When you log in, we will also set up several cookies to save your login information and your screen display choices. Login cookies last for two days, and screen options cookies last for a year. If you select "Remember Me", your login will persist for two weeks. If you log out of your account, the login cookies will be removed.

If you edit or publish an article, an additional cookie will be saved in your browser. This cookie includes no personal data and simply indicates the post ID of the article you just edited. It expires after 1 day.

Embedded content from other websites
Articles on this site may include embedded content (e.g. videos, images, articles, etc.). Embedded content from other websites behaves in the exact same way as if the visitor has visited the other website.

These websites may collect data about you, use cookies, embed additional third-party tracking, and monitor your interaction with that embedded content, including tracking your interaction with the embedded content if you have an account and are logged in to that website.

Analytics
Who we share your data with
If you request a password reset, your IP address will be included in the reset email.

How long we retain your data
If you leave a comment, the comment and its metadata are retained indefinitely. This is so we can recognize and approve any follow-up comments automatically instead of holding them in a moderation queue.

For users that register on our website (if any), we also store the personal information they provide in their user profile. All users can see, edit, or delete their personal information at any time (except they cannot change their username). Website administrators can also see and edit that information.

What rights you have over your data
If you have an account on this site, or have left comments, you can request to receive an exported file of the personal data we hold about you, including any data you have provided to us. You can also request that we erase any personal data we hold about you. This does not include any data we are obliged to keep for administrative, legal, or security purposes.

Where we send your data
Visitor comments may be checked through an automated spam detection service.

Your contact information
For Administrative and Other Regulatory Purposes.

Additional information
As and When Applicable for Business Purposes.

How we protect your data
Secure Sockets Layer (SSL) Encryption  & Antivirus Device & Network Protection.

What data breach procedures we have in place
Security Check Alerts & Breach Notifications.

What third parties we receive data from
Various Sources and Channel Partners.

What automated decision making and/or profiling we do with user data
Segment Classification, Preference Analysis & Recommendation, Loyalty Tracking & Demographic Analysis.

Industry regulatory disclosure requirements
As Applicable By Region, Policy, Law & Regulation.

Privacy Policy

Introduction

1.1 Kneogin Igmisarch Private Limited (“Company”, “we”, “us” and “our”) respects the privacy of its users accessing its website at www.kneoginigmisarch.co.in (“Website”). For the purposes of this privacy policy (“Privacy Policy”) and wherever the context so requires “you”, “your”, “yourself”, “user”shall mean any natural or legal person who accesses or uses the Website and in the event that a natural person is representing a business entity, reference to such terms shall include a reference to the business entity.

1.2 The Company has adopted this Privacy Policy, in compliance with the provisions of applicable laws, to inform you of what information we collect from you through the Website, how we collect the information, how we may use it and the steps we take to protect it.

1.3 The Company has provided this Privacy Policy to familiarize you with:

a). The type of data or information that you share with or provide to Company and that Company collects from you;

b). The purpose for collection of such data or information from you;

c). Company’s information security practices and policies; and

d). Company’s policy on sharing or transferring your data or information with third parties.

1.4 The capitalized words and expressions used in this Privacy Policy and not defined herein but defined in the Information Technology Act 2000 (“IT Act”) and the Information Technology (Reasonable Security Practices and Procedures and Sensitive Personal Data or Information) Rules, 2011 (“SPDI Rules”) will have the meanings assigned to them thereunder.

1.5 Please note that usage of the term Personal Information includes Sensitive Personal Data or Information (“SPDI”), wherever appropriate and/or mandated under the IT Act and the SPDI Rules.

Collection of Information

2.1 The “Information” provided by you to Company or collected from you by Company may consist of “Personal Information” and “Non-Personal Information”.

2.2 Personal Information for the purposes of this Privacy Policy shall include, but not be limited to:

a). Your user name along with your password;

b). Your name;

c). Your address;

d). Your telephone number;

e). Your e-mail address or other contact formation;

f). Your date of birth;

g). Your gender;

h). Information regarding your transactions on the Website, (including sales or purchase history);

i). Your financial information such as bank account information or credit card or debit card or other payment instrument details including one-time password;

j). Internet protocol address;

k). Any other Information that you provide during your registration process, if any, on the Website; or

l). [Identification code of your communication device which you use to access the Website or otherwise deal with Company],

2.3 Such Personal Information may be collected in various ways including during the course of you availing certain services offered on the Website. Such instances include but are not limited to making an online purchase, participating in any online survey or contest, communicating with Company’s customer service by phone, email or otherwise or posting user reviews on the items available on the Website.

2.4 We may receive Personal information about you from third parties, such as social media services, commercially available sources and business partners. If you access Website through a social media service or connect a service on Website to a social media service, the information we collect may include your user name associated with that social media service, any information or content the social media service has the right to share with us, such as your profile picture, email address or friends list, and any information you have made public in connection with that social media service. When you access the Website or otherwise deal with the Company through social media services or when you connect any Website to social media services, you are authorizing Company to collect, store, and use and retain such information and content in accordance with this Privacy Policy

2.5 You represent that the Personal Information you provide to us from time to time is and shall be correct, current and updated and that you have all the rights, permissions and consents to provide such information. Your providing the data/ information and the Company’s consequent storage, collection, usage, transfer, access or processing of the same shall not be in violation of any third -party agreement, laws, judgments, orders or decrees.

Non-Personal Information:

2.6 Company may also collect information other than Personal Information from you through the Website when you visit and / or use the Website. Such information may be stored in server logs. This Non-Personal Information would not assist Company to identify you personally. This Non-Personal Information may include:

a). Your geographic location;

b). details of your telecom service provider or internet service provider;

c). the type of browser (internet explorer, firefox, opera, google chrome etc.);

d). the operating system of your system, device and the Website you last visited before visiting the Website;

e). The duration of your stay on the Website is also stored in the session along with the date and time of your access, Non-Personal Information is collected through various ways such through the use of cookies.

Purpose and Usage of Personal Information

3.1 The Company does not disclose, transfer, trade, rent or sell your Personal Information in any manner, except as specified herein or if you express your consent towards the same.

3.2 Information provided by you is used only:

a). To facilitate your use of the Website;

b). To respond to your concerns, inquiries or address your requests for information about the various services we offer;

c). To provide you with information about Company’s services/products and send you information, materials and offers from the Company;

d). To send you important information regarding the Website, changes to Company’s terms of service and various policies and/or other miscellaneous information;

e). To send you surveys and marketing communications that the Company believes may be of interest to you;

f). To personalize your experience on our Website;

g). To complete and fulfill your purchase, if you purchase any content or avail of any service from the Website, for example, to have your payments processed, communicate with you regarding your purchase and provide you with related customer service;

h). To administer product downloads;

i). To conduct internal reviews and data analysis for the Website (e.g., to determine the number of visitors to specific pages within the Website);

j). To improve the services, content and advertising on the Website;

k). To protect the integrity of the Website; and

l). To comply with legal requirements and disclosures provided under the laws of India.

3.3 Your Information will be kept confidential to the maximum possible extent and in accordance with the provisions set out herein.

Cookies & Shared Objects

3.4 Cookies are alphanumeric identifiers that our Website places onto your computer’s hard drive. Company may store temporary or permanent ‘cookies’ on your computer. We may also use cookies and/or shared objects to track and understand the traffic on our Website. Cookies identify your computer so that we can recognize you the next time you visit us. We may use cookies and/or shared objects to collect and store some information about you, such as the name of the domain and host from which you access the internet, the internet protocol address of the computer you are using, the date and time you access our Website and the internet address of the Website from which you linked directly to our Website. We use this information to better understand our users and customize our site for users’ particular preferences. You can erase or choose to block these cookies from your computer. You can configure your computer’s browser to alert you when we attempt to send you a cookie with an option to accept or refuse the cookie. If you have turned cookies off, you may be prevented from using certain features of the Website.

Advertising

4.1 The Company uses some third parties to administer a limited set of advertisements on our Website and portals. During this process, none of your Personal Information is leaked. However, aggregate profile information, such as user community, may be used in the selection of advertising to make sure that it has relevance to the user. On some banner ads, an embedded pixel may be present, and while it does not associate with a cookie or other personal profile information, it may return session connection information that allows advertisers to better determine how many individual users have clicked on the ad banner. We do not disclose your Personal Information to third parties for their marketing and advertising purposes.

Links to other third party sites

4.2 The Website may provide third party information and links to other websites that are not affiliates of or operated or controlled by the Company including but not limited to payment gateways or social networking websites. The Company is not responsible for any form of transmission, whatsoever, received by you from any third party website and accordingly does not make any representations concerning the privacy practices or other policies of such third party websites. Under no circumstances shall the Company be deemed to control or guarantee the accuracy, integrity, or quality of the information, data, text, software, sound, photographs, graphics, videos, cookies, messages or other materials available on such websites. Any user Information provided by you to such third party websites shall be governed in accordance with the privacy policies of such websites and it is recommended that you review the privacy policy of such websites prior to using such websites.

Disclosure of Personal Information

4.3 We may disclose your Personal Information when required to do so by law or regulation, or under any legal obligation or order under law or in response to a request from a law enforcement or governmental agency or judicial, quasi-judicial or any other statutory or constitutional authority or to establish or exercise our legal rights or defend against legal claims.

4.4 We may disclose your Personal Information to law enforcement offices, third party rights owners, or others in the good faith belief that such disclosure is reasonably necessary to: enforce our terms or Privacy Policy; respond to claims that an advertisement, posting or other content violates the rights of a third party; or protect the rights, property or personal safety of our users or the general public.

Security Practices and Procedures

5.1 The security of your Information is very important to the Company. We use reasonable security measures, at the minimum those mandated under the applicable laws, to safeguard and protect your Information. You accept the inherent security implications of providing privacy to your Information shared with us and you will not hold us responsible for any breach of security or the disclosure of Information unless we have been grossly and willfully negligent.

5.2 We may enter into agreement with third parties (in or outside of India) to store your Information. These third parties may have their own security standards to safeguard your information or data and we will on commercial reasonable basis require such third parties to adopt reasonable security standards to safeguard your information or data.

5.3 Notwithstanding anything contained in this Privacy Policy or elsewhere, we shall not be held responsible for any loss, damage or misuse of your Information, if such loss, damage or misuse is attributable to a Force Majeure Event. A “Force Majeure Event” shall mean any event that is beyond our reasonable control and shall include, without limitation, sabotage, fire, flood, explosion, acts of God, civil commotion, strikes or industrial action of any kind, riots, insurrection, war, acts of government, computer hacking, unauthorized access to computer data and storage device, computer crashes, breach of security and encryption, etc.

5.4 In the event of any breach of your Personal Information, the Company will, without unreasonable delay, notify you of it by email or fax and take appropriate measures in compliance with the provisions of applicable laws.

Miscellaneous

User Rights and Discretion

6.1 All Personal Information provided to the Company by you have been voluntarily provided by you. You have the right to withdraw your consent at any time in writing by sending an e-mail to us at support@kneoginigmisarch.co.in, in accordance with the terms of this Privacy Policy. However, please note that withdrawal of consent will not be retrospective in nature and shall be applicable prospectively. In case you do not provide your Personal Information or consent for usage of your Personal Information or subsequently withdraw your consent for usage of the Personal Information so collected, the Company reserves the right to discontinue the services for which said Information was sought.

6.2 You can review, modify, add, correct or update your Personal Information on a regular basis. When you update information, the Company will keep a copy of the prior version for its records. However, we are not responsible for the authenticity of the Personal Information provided by you.

6.3 You agree and acknowledge that certain data or information cannot be corrected or deleted or is prohibited to be deleted as required under any applicable law, law enforcement requests or under any judicial proceedings. In respect to such data or information, the aforementioned rights will not be available.

6.4 The Company may, if you prefer, send direct advertisement mailers to you at the address given by you. You have the option to opt-out of this direct mailer by clicking at the unsubscribed link option attached to e-mail.

Important Disclaimer

6.5 Although the Company provides full security and secrecy to your Personal Information, we urge you to be careful with sharing of your Personal Information with any third party claiming to be related to the Company on separate emails/phone calls etc. The Company disclaims any and all liabilities towards any such claims that have arisen due to your own negligence or willful misconduct and the Company takes no responsibility of the same.

Change in Privacy Policy

6.6 This Privacy Policy may be amended / updated from time to time. Upon amending / updating the Privacy Policy, we will accordingly amend the date above. We suggest that you regularly check this Privacy Policy to apprise yourself of any updates. Your continued use of Website or provision of data or information thereafter will imply your unconditional acceptance of such updates to this Privacy Policy.

Changes in Constitution

6.7 We and our affiliates may disclose or transfer some or all of your Personal Information with another business entity should we (or our assets) plan to merge with, or be acquired by that business entity, or re-organization, amalgamation, restructuring of business. When such transaction occurs, then the other business entity (or the new combined entity) will be required to follow this Privacy Policy with respect to your Personal Information.

Further Acknowledgements

6.8 You hereby acknowledge and agree that this Privacy Policy:

a). is clear and easily accessible and provide statements of Company’s policies and practices with respective to the Information;

b). provides for the various types of personal or sensitive personal data of information to be collected;

c). provides for the purposes of collection and usage of the Information;

d) provides for disclosure of Information; and

e) provides for reasonable security practices and procedures.

Grievance redressal

6.9 The Company respects your privacy and if you do not want to receive any kind of communications from kneoginigmisarch.co.in or have any grievances to share, please report to: Email: support@kneoginigmisarch.co.in

                                  </div>
                                  <div class="vue-lists">
                                  
                                    <div class="row">
                                      <div class="col-md-6">
                                        
                              </div>
          
                        </div>
                    </div>
                </div>
            </div>











            <div class="vue-misc">
                <h2 class="display-5 my-3"></h2>
                <div class="row">
                  <div class="col-md-6">
                    <h3>Registry details</h3>
                    <address class="mt-3">
                      <strong>  KNEOGIN IGMISARCH PRIVATE LIMITED</strong><br>
                      Identification no. -U74999UP2018PTC105640<br>
                      Udyog Aadhaar NumberUP29D0013506<br>
                      GSTIN - 09AAHCK1701C1Z1<br>
                      <br>
                         <h3>Address</h3>
                    <address class="mt-3">
                      <strong>  KNEOGIN IGMISARCH PRIVATE LIMITED</strong><br>
                      Registered Office: J-2108 Gaur Green City,<br>
                       8 Vaibhav Khand,Indirapuram, <br>
                      Ghaziabad, UP - 201014. <br>
                      <br>

                      <b> Support Kivtechs</b><br>
                      <a href="mailto:support@kivtechs.cloud">KIvtechs.cloud</a>

                  </address>
              </div>
              <div class="col-md-6">
               
          </div>
      </div>
  </div>
            <!-- /# column -->
            <!-- .animated -->
        </div>
        <!-- /.content -->
        <div class="clearfix"></div>
        <!-- Footer -->
        <footer class="site-footer">
            <div class="footer-inner bg-white">
                <div class="row">
                    <div class="col-sm-6">
                        Copyright &copy; <a href="https://kneoginigmisarch.co.in/"> Kneogin Igmisarch Private Limited</a>
                    </div>
                    <div class="col-sm-6 text-right">
                        Terms & Conditions <a href="https://kneoginigmisarch.co.in/terms-of-use">KIVTECHS.cloud</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /.site-footer -->
    </div>
    <!-- /#right-panel -->
    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src="https://siddht1.github.io/userpanelasset/assets/js/main.js"></script>
    <!--  Chart js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.bundle.min.js"></script>
    <!--Flot Chart-->
    <script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flot-spline@0.0.1/js/jquery.flot.spline.min.js"></script>
    <!-- local -->
    <script src="https://siddht1.github.io/userpanelasset/assets/js/widgets.js"></script>
    <script src="https://siddh-kivtechs.github.io/menu_kivtechs_js/scripts/script_20.js"></script>

</html>
