<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>KIvtechs.cloud|USER DASHBOARD</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/svg" href="https://siddh-kivtechs.github.io/logo/logo.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <link rel="stylesheet" href="https://siddht1.github.io/userpanelasset/assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="https://siddht1.github.io/userpanelasset/assets/css/style.css">
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    <link href="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/jqvmap@1.5.1/dist/jqvmap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/weathericons@2.1.0/css/weather-icons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.css" rel="stylesheet" />
    <style>
        #weatherWidget .currentDesc {
        color: #ffffff!important;
    }
        .traffic-chart {
            min-height: 335px;
        }
        #flotPie1  {
            height: 150px;
        }
        #flotPie1 td {
            padding:3px;
        }
        #flotPie1 table {
            top: 20px!important;
            right: -10px!important;
        }
        .chart-container {
            display: table;
            min-width: 270px ;
            text-align: left;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        #flotLine5  {
             height: 105px;
        }

        #flotBarChart {
            height: 150px;
        }
        #cellPaiChart{
            height: 160px;
        }

    </style>
</head>

<body>
    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#"><i class="menu-icon fa fa-laptop"></i>User Panel </a>
                    </li>
                    <li class="menu-title">AI & ML tools</li><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-cogs"></i>AI chatbot</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-puzzle-piece"></i><a href="https://katlon.kivtechs.cloud/"> Katlon</a></li>
                            <li><i class="fa fa-puzzle-piece"></i><a href="https://catalona.kivtechs.cloud/"> Catlon</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-rocket"></i>AI Tools</a>
                        <ul class="sub-menu children dropdown-menu">
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>AI AGENT</a>
                        <ul class="sub-menu children dropdown-menu">
                        </ul>
                    </li>
                    <li class="menu-title">Catalogue & Usage</li><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="https://kivtechs.cloud/powerpack" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>Powerpack S4K</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-fort-awesome"></i><a href="#">Ai Chatbot</a></li>
                            <li><i class="menu-icon ti-themify-logo"></i><a href="#"> Ai Agent</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="widgets.html"> <i class="menu-icon ti-email"></i>System Message </a>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>Usage</a>
                        <ul class="sub-menu children dropdown-menu">
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-area-chart"></i>Past History</a>
                        <ul class="sub-menu children dropdown-menu">
                        </ul>
                    </li>
                    <li class="menu-title"> Call To Action </li><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-magic"></i>Support</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-paper-plane"></i><a href="">Tutorials</a></li>
                            <li><i class="menu-icon fa fa-paper-plane"></i><a href="">FAQ</a></li>
                            <li><i class="menu-icon fa fa-paper-plane"></i><a href="mailto:support@kivtechs.cloud">Customer Care</a></li>
                        </ul>
                    </li>
                    <li class="menu-title"> Terms & Condition </li><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-question-circle"></i>Terms & condition</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-legal"></i><a href="https://kivtechs.cloud/terms">Terms and Condiftions</a></li>
                            <li><i class="menu-icon fa fa-hand-o-right"></i><a href="https://kivtechs.cloud/policy">Privacy Policy</a></li>
                        </ul>
                    </li>
                    <li class="menu-title"> About Us</li><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <i class="menu-icon fa fa-lemon-o"></i>KNEOGINI IGMISARCH PRIVATE LIMITED</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-random"></i><a href="https://kneoginigmisarch.co.in/">Company</a></li>
                            <li><i class="menu-icon fa fa-hand-o-right"></i><a href="https://kneoginigmisarch.co.in/">Partnership</a></li>
                            <li><i class="menu-icon fa fa-hand-o-right"></i><a href="https://kneoginigmisarch.co.in/">Other Solutions</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>
    <!-- /#left-panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <a class="navbar-brand" href="./">
                        <img src="https://siddht1.github.io/dashboard_p4/dist/img/logo.png" alt="kivtechs-Logo" height="40" width="40"> </a>
                    <a class="navbar-brand hidden" href=""><img src="https://siddht1.github.io/dashboard_p4/dist/img/logo.png" alt="kivtechs-Logo" height="40" width="40"></a>
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            <div class="top-right">
                <div class="header-menu">
                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>
                        <div class="dropdown for-notification">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <span class="count bg-primary">0</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="notification">
                            </div>
                        </div>
                        <div class="dropdown for-message">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="message" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-envelope"></i>
                                <span class="count bg-primary">4</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="message">
                                <p class="red">You have 4 Messages</p>
                                <a class="dropdown-item media" href="#">
                                    <span class="photo media-left"><img alt="avatar" src="https://siddht1.github.io/dashboard_p4/dist/img/logo.png"></span>
                                    <div class="message media-body">
                                        <span class="name float-left">Kivtechs.cloud</span>
                                        <span class="time float-right"></span>
                                        <p>Welcome to KIvtechs.cloud</p>
                                    </div>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <span class="photo media-left"><img alt="avatar" src="https://siddht1.github.io/dashboard_p4/dist/img/logo.png"></span>
                                    <div class="message media-body">
                                        <span class="name float-left">Kivtechs.cloud</span>
                                        <span class="time float-right"></span>
                                        <p> Welcome to the World of AI & Technology</p>
                                    </div>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <span class="photo media-left"><img alt="avatar" src="https://siddht1.github.io/dashboard_p4/dist/img/logo.png"></span>
                                    <div class="message media-body">
                                        <span class="name float-left">kivtechs.cloud</span>
                                        <span class="time float-right"></span>
                                        <p> You have been provided Access to our AI chatbot Katlon & Catlona</p>
                                    </div>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <span class="photo media-left"><img alt="avatar" src="https://siddht1.github.io/dashboard_p4/dist/img/logo.png"></span>
                                    <div class="message media-body">
                                        <span class="name float-left">kivtechs.cloud</span>
                                        <span class="time float-right"></span>
                                        <p>You have 10,000 tokens</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="<%= user.picture %>" alt="User Avatar">
                        </a>
                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="#"><i class="fa fa- user"></i>My Profile</a>
                            <a class="nav-link" href="#"><i class="fa fa- user"></i>Notifications <span class="count">0</span></a>
                            <a class="nav-link" href="#"><i class="fa fa -cog"></i>Settings</a>
                            <a class="nav-link" href="https://kivtechs.cloud/logout"><i class="fa fa-power -off"></i>Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- /#header -->
        <!-- Breadcrumbs-->
        <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>Terms & Condition</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="page-header float-right">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li><a href="#">Terms & Condition</a></li>
                                    <li class="active">
                                        <%= user.name %> PANEL</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.breadcrumbs-->
            <!-- Content -->
            <div class="content">
                <div class="row">
                    <div class="card">
                        <div class="card-header">
                            <h4>Terms & Condition</h4>
                  
                        <div class="card-body">
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>TERMS OF USE</h4>
                                    </div>
                                    <div class="card-body">
                                        <p class="text-muted m-b-15">Transparency & Customer Satisfaction is of Utmost Importance To Us : </p>
                                            <p> 
Access to and use of<a href="https://kivtechs.cloud/"> Kivtechs</a> and the products and services available through the website are subject to the following terms, conditions and notices (“Terms of Use”). By browsing through these Terms of Service and using the services provided by our website  <a href="https://kneoginigmisarch.co.in/"> Kneoginigmisarch</a> , you agree to all Terms of Service along with the Privacy Policy on our website, which may be updated by us from time to time. Please check this page regularly to take notice of any changes we may have made to the Terms of Service. </p>

<p>We reserve the right to review and withdraw or amend the services without notice. We will not be liable if for any reason this Website is unavailable at any time or for any period. From time to time, we may restrict access to some parts or this entire Website.</p>
<p>
    <code>Introduction </code>


The domain name <a href="https://kivtechs.cloud/"> Kivtechs</a> is a site operated by <code>Kneogin Igmisarch Private Limited Private Limited</code>  a company incorporated under laws of India with our registered office at  <code>J–2108 Gaur Green City, 8 Vaibhav Khand, Indirapuram,</code> <code>Ghaziabad, Uttar Pradesh – 201014. </code> </p>
                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="services-tab" data-toggle="tab" href="#services" role="tab" aria-controls="services" aria-selected="true">Services</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="solution-tab" data-toggle="tab" href="#solution" role="tab" aria-controls="solution" aria-selected="false"> Solutions</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="privacy-tab" data-toggle="tab" href="#privacy" role="tab" aria-controls="privacy" aria-selected="false">Privacy</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="pricing-tab" data-toggle="tab" href="#pricing" role="tab" aria-controls="pricing" aria-selected="false">Pricing</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="payment-tab" data-toggle="tab" href="#payment" role="tab" aria-controls="payment" aria-selected="false">Payment</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="refund-tab" data-toggle="tab" href="#refund" role="tab" aria-controls="refund" aria-selected="false">Refund</a>
                                            </li>
                                              <li class="nav-item">
                                                <a class="nav-link" id="intellectual-tab" data-toggle="tab" href="#intellectual" role="tab" aria-controls="intellectual" aria-selected="false">Intellectual Property Rights</a>
                                            </li>
                                                 <li class="nav-item">
                                                <a class="nav-link" id="jurisdiction-tab" data-toggle="tab" href="#jurisdiction" role="tab" aria-controls="jurisdiction" aria-selected="false">Law and Jurisdiction</a>
                                            </li>
                                      
                                             <li class="nav-item">
                                                <a class="nav-link" id="indemnification-tab" data-toggle="tab" href="#indemnification" role="tab" aria-controls="indemnification" aria-selected="false">Indemnification</a>
                                            </li>
                                       
                                             <li class="nav-item">
                                                <a class="nav-link" id="violation-tab" data-toggle="tab" href="#violation" role="tab" aria-controls="violation" aria-selected="false">Violation & Termination</a>
                                            </li>
                                      
                                        </ul>
                                        <div class="tab-content pl-3 p-1" id="myTabContent">
                                            <div class="tab-pane fade show active" id="services" role="tabpanel" aria-labelledby="services-tab">
                                                <h3>Services</h3>
                                                <p> <a href="https://kneoginigmisarch.co.in/"> Kneoginigmisarch</a>  is a Business Services Oriented Enterprise having various Industry & Business Verticals. Providing Services & Solutions through various Brands. Membership allows customers to purchase a variety of products. Upon placing an order, <a href="https://kivtechs.cloud/"> Kivtechs</a>  shall assign/licence the products and solutions to you and be entitled to timely payment for the product & service.</p>
                                            </div>
                                            <div class="tab-pane fade" id="solution" role="tabpanel" aria-labelledby="solution-tab">
                                                <h3>Third Party Products, Solutions, Websites and Content</h3>
                                                <p>Our website <a href="https://kivtechs.cloud/"> Kivtechs</a> provides access to various third-party products & solutions in accordance with various contracts, licences & agreements which we may or may not have with such third-party providers. Fulfilment, Service & Support of such third-party products & solutions are wholly/partially upon the third-party & we only act as platform/reseller/aggregator/intermediary of such third-party products & solutions. </p>
                                                <p>Also provides links for sharing our content on Facebook, twitter and other such third party website.These are only for sharing and/or listing purpose and we take no responsibility of the third party websites and/or their contents listed on our website (<a href="https://kivtechs.cloud/"> Kivtechs</a> ) and disclaim all our liabilities arising out of any or all third party websites. We disclaim all liabilities and take no responsibility for the content that may be posted on such third party websites by the users of such websites in their personal capacity on any of the above mentioned links for sharing and/or listing purposes as well as any content and/or comments that may be posted by such user in their personal capacity on any official webpage of <a href="https://kivtechs.cloud/"> Kivtechs</a>  on any social networking platform.</p>
                                            </div>
                                            <div class="tab-pane fade" id="privacy" role="tabpanel" aria-labelledby="privacy-tab">
                                                <h3>Privacy</h3>
                                                <p>Our Privacy Policy incorporated by reference in these Terms of Service, sets out how we will use personal information you provide to us. By using this Website, you agree to be bound by the Privacy Policy, and warrant that all data provided by you is accurate and up to date. </p>
                                            </div>
                                            <div class="tab-pane fade" id="pricing" role="tabpanel" aria-labelledby="pricing-tab">
                                                <h3>Pricing</h3>
                                                <p>We ensure that all details of prices appearing on the website are accurate, however errors may occur. If we discover an error in the price of any products/services which you have ordered, we will inform you of this as soon as possible. If we are unable to contact you we will treat the order as cancelled. </p>
                                                <p>Additionally, prices for items may change from time to time without notice. However, these changes will not affect orders that have already been assigned/provided. The price of an item includes VAT (or similar sales tax) at the prevailing rate for which we are responsible as a seller. Please note that the prices listed on the website are only applicable for items purchased on the website and not through any other source/channel.</p>
                                            </div>
                                                  <div class="tab-pane fade" id="payment" role="tabpanel" aria-labelledby="payment-tab">
                                                <h3>Payment</h3>
                                                <p>Upon receiving your order we carry out a standard pre-authorization check on your payment card to ensure there are sufficient funds to fulfill the transaction. Goods will not be dispatched until this pre-authorization check has been completed. Your card will be debited once the order has been accepted. For any further payment related queries, please check our FAQs on Payment Mode.</p>
                                            </div>
                                                  <div class="tab-pane fade" id="refund" role="tabpanel" aria-labelledby="refund-tab">
                                                <h3>Refund</h3>
                                                <p>Please note that the Software/Services provided through the Website are Non-Refundable.</p>
                                            </div>
                                                 <div class="tab-pane fade" id="intellectual" role="tabpanel" aria-labelledby="intellectual-tab">
                                                <h3>Intellectual Property Rights</h3>
                                                <p>All and any intellectual property rights in connection with the products shall be owned absolutely by the Company. And, The Respective Owners Under Various Licences & Contracts. And, Available Under Open-Source Initiatives.</p>
                                            </div>
                                                   <div class="tab-pane fade" id="jurisdiction" role="jurisdictionpanel" aria-labelledby="jurisdiction-tab">
                                                <h3>Law and Jurisdiction</h3>
                                                <p>These terms shall be governed by and constructed in accordance with the laws of India without reference to conflict of laws principles and disputes arising in relation hereto shall be subject to the exclusive jurisdiction of the courts at Ghaziabad, Uttar Pradesh, India. First Preference Would Be Given To Mediation & Arbitration. </p>
                                            </div>
                                                   <div class="tab-pane fade" id="indemnification" role="indemnificationpanel" aria-labelledby="indemnification-tab">
                                                <h3>Indemnification</h3>
                                                <p>You agree to indemnify, defend and hold harmless the Company, its directors, officers, employees, consultants, agents, and affiliates, from any and all third party claims, liability, damages or costs arising from your use of this website, your breach of these Terms of Service, or infringement of any intellectual property right.</p>
                                            </div>
                                                   <div class="tab-pane fade" id="violation" role="violationpanel" aria-labelledby="violation-tab">
                                                <h3>Violation & Termination</h3>
                                                <p>You agree that the Company may, in its sole discretion and without prior notice, terminate your access to the website and block your future access if we determine that you have violated these Terms of Service or any other policies. If you or the Company terminates your use of any service, you shall still be liable to pay for any service that you have already ordered till the time of such termination.</p>

                                                </p>If you have any questions, comments or requests regarding our Terms of Service or the website please contact us at <a href="mailto:support@Kneoginigmisarch.co.in">support@Kneoginigmisarch.co.in</a> or <a href="mailto:kivtechs.cloud">support@kivtechs.cloud</a></p>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- .animated -->
                        </div>
                        <!-- /.content -->
                        <div class="clearfix"></div>
                        <!-- Footer -->
                        <footer class="site-footer">
                            <div class="footer-inner bg-white">
                                <div class="row">
                                    <div class="col-sm-6">
                                        Copyright &copy; <a href="https://kneoginigmisarch.co.in/"> Kneogin Igmisarch Private Limited</a>
                                    </div>
                                    <div class="col-sm-6 text-right">
                                        Terms & Conditions <a href="https://kneoginigmisarch.co.in/terms-of-use">KIVTECHS.cloud</a>
                                    </div>
                                </div>
                            </div>
                        </footer>
                        <!-- /.site-footer -->
                    </div>
                    <!-- /#right-panel -->
                    <!-- Scripts -->
                    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
                    <script src="https://siddht1.github.io/userpanelasset/assets/js/main.js"></script>
                    <!--  Chart js -->
                    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.bundle.min.js"></script>
                    <!--Flot Chart-->
                    <script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/flot-spline@0.0.1/js/jquery.flot.spline.min.js"></script>
                    <!-- local -->
                    <script src="https://siddht1.github.io/userpanelasset/assets/js/widgets.js"></script>
                    <script src="https://siddh-kivtechs.github.io/menu_kivtechs_js/scripts/script_20.js"></script>

</html>
